NODE_ENV=development
PORT=3000

DATABASE=mongodb+srv://<user>:<PASSWORD>@cluster0.xxxxx.mongodb.net/vivi-app?retryWrites=true&w=majority
DATABASE_PASSWORD=<password>

JWT_SECRET=<random_long_string>
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

RL_GLOBAL_MAX=200
RL_LOGIN_MAX=5

EMAIL_USERNAME=<mailtrap_user>
EMAIL_PASSWORD=<mailtrap_pass>
EMAIL_PORT=2525
EMAIL_HOST=sandbox.smtp.mailtrap.io

 SWAGGER_USER=admin
 SWAGGER_PASS=admin123
 